*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    text-align: center;
    background-color: #6b705c;
}

h1{
    margin: 50px;
     transition-property: initial;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2ms;
    
}
h1:hover{
    color: #fff;
}

.main{
    height : 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;

}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
    font-size: 8vmin;
    color: #540804;
    background-color: #FFE8D6;
}

#reset-btn{
    padding: 1rem;
    font-size: 0.8rem;
    border-radius: 1rem;
    border: none;
    background-color: #191919;
    color: #fff;
    font-weight: 600;
}

#reset-btn:hover{
    background-color: #f3e9dc;
    color: #191919;
}

.msg-container{
    margin-top: 20%;
    margin-bottom: 30%;
    line-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#msg{
    font-size: 3rem;
    color: #191919;
    font-weight: 600;
}

.new-game{
    padding: 1rem;
    font-size: 0.8rem;
    border-radius: 1rem;
    border: none;
    background-color: #191919;
    color: #fff;
    font-weight: 600

}

#reset

.new-game:hover {
background-color: #f3e9dc;
    color: #191919;
}

#draw{
    font-size: 5vmin;
    font-weight: 500;   
}

.hide {
    display: none;
}

@media (max-width:600px){
body {
    text-align: center;
    background-color: #6b705c;
    display: flex;
    justify-content: center;
    align-items:space-evenly;
    flex-direction: column;
    gap: 10px;
}

.msg-container{
    margin-top: 50%;
    margin-bottom: 30%;
    line-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.game-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#reset-btn{
    position: relative;
    margin-top:10px;
   
}

.new-game:hover {
background-color: #f3e9dc;
    color: #191919;
}

#draw{
    font-size: 5vmin;
    font-weight: 500;   
}

.hide {
    display: none;
}

main{
    position: relative;
    margin-top: 400px;
}
}

@media (min-width:601px) and (max-width:905px){
body {
    text-align: center;
    background-color: #6b705c;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 10px;
}

.msg-container{
    margin-top: 30%;
   margin-bottom: 50%;
    line-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.game-body{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}


#reset-btn{
    position: relative;

   
}

.new-game:hover {
background-color: #f3e9dc;
    color: #191919;
}

#draw{
    font-size: 5vmin;
    font-weight: 500;   
}

.hide {
    display: none;
   
}
main{
    position: relative;
    margin-top: 400px;
}
}